<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE aspectran PUBLIC "-//ASPECTRAN//DTD Aspectran 8.0//EN"
        "https://aspectran.com/dtd/aspectran-8.dtd">
<aspectran>

    <description>
        Configuration for database transactions
    </description>

    <bean id="sqlSessionFactory" class="com.aspectran.mybatis.SqlSessionFactoryBean">
        <description>
            FactoryBean that creates an MyBatis SqlSessionFactory using default MyBatis Configuration.
        </description>
        <properties>
            <item name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
            <item name="environment" value="default"/>
            <item name="properties" type="properties">
                <entry name="driver">%{classpath:memo.db.properties^driver}</entry>
                <entry name="url">%{classpath:memo.db.properties^url}</entry>
                <entry name="username">%{classpath:memo.db.properties^username}</entry>
                <entry name="password">%{classpath:memo.db.properties^password}</entry>
            </item>
        </properties>
    </bean>

    <bean id="sqlSessionTxAdvice" class="com.aspectran.mybatis.SqlSessionTxAdvice" scope="prototype">
        <description>
            An advice bean that handles database transactions.
        </description>
        <arguments>
            <item>#{sqlSessionFactory}</item>
        </arguments>
    </bean>

    <aspect id="simpleTxAspect" order="0" isolated="true">
        <description>
            Advice to handle database transactions in simple mode.
            * A transaction scope will be started (i.e. NOT auto-commit).
            * A Connection object will be acquired from the DataSource instance
              configured by the active environment.
            * The transaction isolation level will be the default used by the driver or
              data source.
            * No PreparedStatements will be reused, and no updates will be batched.
        </description>
        <joinpoint>
            pointcut: {
                +: **@simpleSqlSession
            }
        </joinpoint>
        <advice bean="sqlSessionTxAdvice">
            <before>
                <invoke method="open"/>
            </before>
            <after>
                <invoke method="commit"/>
            </after>
            <finally>
                <invoke method="close"/>
            </finally>
        </advice>
    </aspect>

    <aspect id="batchTxAspect" order="0" isolated="true">
        <description>
            Advice to handle database transactions in batch mode.
            Batches all updates (including inserts and deletes), SELECTs can be run as needed.
        </description>
        <joinpoint>
            pointcut: {
                +: **@batchSqlSession
            }
        </joinpoint>
        <advice bean="sqlSessionTxAdvice">
            <before>
                <invoke method="open">
                    <arguments>
                        <item name="executorType" value="BATCH"/>
                    </arguments>
                </invoke>
            </before>
            <after>
                <invoke method="commit"/>
            </after>
            <finally>
                <invoke method="close"/>
            </finally>
        </advice>
    </aspect>

    <aspect id="reuseTxAspect" order="0" isolated="true">
        <description>
            Advice to handle database transactions in reuse mode.
            PreparedStatements will be reused.
        </description>
        <joinpoint>
            pointcut: {
                +: **@reuseSqlSession
            }
        </joinpoint>
        <advice bean="sqlSessionTxAdvice">
            <before>
                <invoke method="open">
                    <arguments>
                        <item name="executorType" value="REUSE"/>
                    </arguments>
                </invoke>
            </before>
            <after>
                <invoke method="commit"/>
            </after>
            <finally>
                <invoke method="close"/>
            </finally>
        </advice>
    </aspect>

</aspectran>